interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/quote/GME?apikey=MOCK_API_KEY
  response:
    body:
      string: "[\n  {\n    \"symbol\": \"GME\",\n    \"name\": \"GameStop Corp.\",\n
        \   \"price\": 20.01,\n    \"changesPercentage\": -1.0875,\n    \"change\":
        -0.22,\n    \"dayLow\": 19.38,\n    \"dayHigh\": 21.1685,\n    \"yearHigh\":
        49.8525,\n    \"yearLow\": 15.41,\n    \"marketCap\": 6094605460,\n    \"priceAvg50\":
        22.042,\n    \"priceAvg200\": 28.56785,\n    \"exchange\": \"NYSE\",\n    \"volume\":
        3489763,\n    \"avgVolume\": 5127027,\n    \"open\": 20.61,\n    \"previousClose\":
        20.23,\n    \"eps\": -6.292,\n    \"pe\": -3.18,\n    \"earningsAnnouncement\":
        \"2023-03-15T10:59:00.000+0000\",\n    \"sharesOutstanding\": 304577984,\n
        \   \"timestamp\": 1674766802\n  }\n]"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"251-F/XLqI+RwO5lW4aLVdXQ9yXMhIM"
    status:
      code: 200
      message: OK
version: 1
